<header class="navbar container">
  <img src="https://hassle.online/_nuxt/img/610077f.svg" class="logo">
  <div class="nav-item row">
    <div class="col-md-6">Корзина</div>
    <div class="col-md-6">Профиль</div>
  </div>
</header>
<main class="container">
  <div class="card main-card-content" style="height: 500px; grid-area: main">
    <button mat-button (click)="openDialog()">Каталог</button>
  </div>
  <div class=" card" style="height: 300px"></div>
  <div class=" card" style="height: 300px"></div>
  <div class=" card" style="height: 300px"></div>
  <div class=" card" style="height: 300px"></div>
</main>
