.logo {
  height: 50px;
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  cursor: default;
  text-decoration: none;
  color: black;
}
.navbar {
  padding: 1rem 1rem;
}
main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'main main main main';
  gap: 5px;
}
.main-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
