<header class="navbar container">
  <a class="logo">FANTASY</a>
  <mat-icon mat-button (click)="onNoClick()" class="close-button">close</mat-icon>
</header>
<!--<main class="container">-->
<!--&lt;!&ndash;  <a *ngIf="title != 'Каталог'" (click)="returnBack()">Назад</a>&ndash;&gt;-->
<!--  <h2 class="m-4" style="margin-left: 0!important;"><mat-icon *ngIf="title != 'Каталог'" (click)="returnBack()">arrow_back_ios</mat-icon> {{title}}</h2>-->
<!--  <div class="main-catalog-content">-->
<!--    <div class="catalog-element" *ngFor="let element of viewCollection;">-->
<!--      <div class="d-flex catalog-element-text"><h5 (click)="openNextLevel(element)" style="cursor: pointer;">{{element?.name}}</h5></div>-->
<!--      <div class="catalog-element-text">-->
<!--        <p *ngFor="let index of checkLengthChildElements(element.data);">{{element.data[index]?.name}}</p>-->
<!--        <h5 *ngIf="checkLengthChildElements(element.data).length == 3 && element?.data.length > 3" class="mt-1" style="cursor: pointer">Еще {{element?.data.length - 3}}</h5>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</main>-->

<main class="container">
  <!--  <a *ngIf="title != 'Каталог'" (click)="returnBack()">Назад</a>-->
  <h2 class="m-4" style="margin-left: 0!important;"><mat-icon *ngIf="title != 'Каталог'" (click)="returnBack()">arrow_back_ios</mat-icon> {{title}}</h2>
  <div class="row justify-content-between no-gutters test">
    <div *ngFor="let element of viewCollection;" [ngClass]="(element.data)?'catalog-element col-md-3':'catalog-third-elements col-md-4'">
        <hr>
        <h5 (click)="openNextLevel(element)" style="cursor: pointer;" class="mb-3 hov-red">{{element?.name}}</h5>
        <p *ngFor="let index of checkLengthChildElements(element.data);" class="catalog-element-text hov-red" (click)="openThirdLevel(element.data[index])">{{element.data[index]?.name}}</p>
        <p *ngIf="checkLengthChildElements(element.data).length == 3 && element?.data.length > 3" class="mt-2"><a class="more hov-red" (click)="openNextLevel(element)">Еще {{element?.data.length - 3}}</a></p>
    </div>

  </div>
</main>

